* {
    margin: 0;
    padding: 0;
/*
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
*/
}
/* Blue: #003082 */
/* Yellow: #FFC917 */

body {
    background-color: white;
}

#canvas {
    margin
    border: 30px solid #FFC917;
    box-sizing: border-box;
}


#besturing {
    width: 100%;
    height: 90px;
    background-color: #003082;
    position: fixed;
    bottom: 0px;
    float: left;
}

/*
#besturing img {
    width: 45px;
    height: auto;
}
*/

/* Alle kleuren */

.kleuren {
    width: 50%;
    height: 90px;
    background-color: #003082;
    position: fixed;
    border-right: 5px solid #FFC917;
    box-sizing: border-box;
}

.kleurrood {
    width: 7.5%;    
    height: 70px;
    background-color: #E63B3B;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleuroranje {
    width: 7.5%;
    height: 70px;
    background-color: #FFA907;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurgeel {
    width: 7.5%;
    height: 70px;
    background-color: #FFC917;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurgroen {
    width: 7.5%;
    height: 70px;
    background-color: #40F571;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurblauw {
    width: 7.5%;
    height: 70px;
    background-color: #0063D3;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurpaars {
    width: 7.5%;
    height: 70px;
    background-color: #BA31F7;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurbruin {
    width: 7.5%;
    height: 70px;
    background-color: #A07959;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurgrijs {
    width: 7.5%;
    height: 70px;
    background-color: #C3C3C3;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurzwart {
    width: 7.5%;
    height: 70px;
    background-color: #000000;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurwit {
    width: 7.5%;
    height: 70px;
    background-color: #ffffff;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

/*-----------------------------------------*/

.roldice {
    width: 50px;
    height: 50px;
    background-image: url(../img/dice.png);
    position: absolute;
    z-index: 100;
    right: 25px;
    top: 25px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #003082;
    border: solid #003082 5px;
    background-position: center center;
}

.pennen {
    width: 25%;
    height: 90px;
    background-color: #003082;
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    box-sizing: border-box;
    border-right: 5px solid #FFC917;
    align-items: flex-end;
}

.pen1 {
    width: 30px;
    height: 60px;
    background-image: url(../img/penblauwdun.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    position: absolute;
    display: inline-block;
    bottom: 0px;
    margin-left: 20px;
}

.pen2 {
    width: 30px;
    height: 60px;
    background-image: url(../img/penblauwdik.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
    position: absolute;
    display: inline-block;
    bottom: -20px;
    margin-right: 20px;
    margin-left: 50px;
}

.emmer {
    width: 60px;
    height: 60px;
    background-image: url(../img/emmerblauw.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
/*    position: absolute;*/
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 100px;
    margin-right: 20px;
}

.gum {
    width: 40px;
    height: 40px;
    background-image: url(../img/gum.png);
    background-repeat: no-repeat;
    background-size: contain;
    left: 0;
/*    position: absolute;*/
    display: inline-block;
/*    bottom: 0;*/
    margin-bottom: 20px;

/*    margin-left: 200px;*/
}

/*-----------------------------------------*/

.overig {
    width: 25%;
    height: 90px;
    background-color: #003082;
    position: absolute;
    display: flex;
    flex-direction: row;
    right: 0;
    box-sizing: border-box;
/*    border-right: 5px solid #FFC917;*/
/*    align-items: flex-end;*/
}

.print {
    width: 60px;
    height: 60px;
    background-image: url(../img/printerbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-right: 100px;
}

.reset {
    width: 60px;
    height: 60px;
    background-image: url(../img/resetbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

.back {
    width: 60px;
    height: 60px;
    background-image: url(../img/back.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    position: absolute;
    display: inline-block;
    margin-top: 20px;
    margin-right: 180px;
}
