* {
    margin: 0;
    padding: 0;
/*
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
*/
}
/* Blue: #003082 */
/* Yellow: #FFC917 */

body {
    background-color: #D0CBD3;
}

#canvas {
    margin
    border: 30px solid #FFC917;
}


#besturing {
    width: 100%;
    height: 90px;
    background-color: #003082;
    position: fixed;
    bottom: 0px;
    float: left;
}

/*
#besturing img {
    width: 45px;
    height: auto;
}
*/

/* Alle kleuren */

.kleuren {
    width: 50%;
    height: 90px;
    background-color: fuchsia;
    position: fixed;
    border-right: 5px solid #FFC917;
}

.kleurrood {
    width: 7.5%;    
    height: 70px;
    background-color: #E63B3B;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleuroranje {
    width: 7.5%;
    height: 70px;
    background-color: #FFA907;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurgeel {
    width: 7.5%;
    height: 70px;
    background-color: #FFC917;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurgroen {
    width: 7.5%;
    height: 70px;
    background-color: #40F571;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurblauw {
    width: 7.5%;
    height: 70px;
    background-color: #0063D3;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurpaars {
    width: 7.5%;
    height: 70px;
    background-color: #BA31F7;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurbruin {
    width: 7.5%;
    height: 70px;
    background-color: #A07959;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurgrijs {
    width: 7.5%;
    height: 70px;
    background-color: #C3C3C3;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurzwart {
    width: 7.5%;
    height: 70px;
    background-color: #000000;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

.kleurwit {
    width: 7.5%;
    height: 70px;
    background-color: #ffffff;
    position: flex;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
}

/*-----------------------------------------*/

.reset {
    width: 60px;
    height: 60px;
    background-image: url(../img/resetbutton.png);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    position: fixed;
    margin-right: 15px;
    margin-top: 15px;
}
